@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

:root {
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    --primary-color: #256D85;
    --primary-hover-color: #2f89a7;
    background-color: rgb(223, 223, 223);
}

body,
h1,
button,
ul,
p {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

body {
    padding: 16px 8px;
}

button {
    border: 0;
    font-size: 1rem;
    padding: 4px 16px;
    background-color: var(--primary-color);
    text-align: center;
    color: white;
    border-radius: 1em;
}

button:hover {
    background-color: var(--primary-hover-color);
}

.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

.hide {
    display: none !important;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
}

nav .right-side {
    display: flex;
    column-gap: 8px;
    align-items: center;
}

/* Notification and login */

.notification::before {
    content: "\01F514";
}

.login {
    background-color: white;
    border: 1px solid var(--primary-color);
    color: black;
}

.login:hover {
    color: white;
}

/* List Header */

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-header h2 {
    font-weight: normal;
}

/* Item */

.item {
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    margin-bottom: 16px;
}

.item:last-child {
    margin-bottom: 0;
}

.item ul {
    display: flex;
    column-gap: 16px;
    align-items: center;
}

.item ul li:last-child {
    margin-left: auto;
}

.item .title {
    font-size: 0.8rem;
    color: rgb(80, 80, 80);
}

button.finish{
    background-color: blue;
}

/* Add Book */

.add-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0px;
    right: 0px;
}

.add-modal .card {
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    margin-top: 16px;
}

.add-book-input {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.add-book-input label {
    margin-left: 16px;
    margin-right: 8px;
}

.add-book-input label:first-child {
    margin-left: 0;
}

.add-book-button {
    display: flex;
    justify-content: flex-end;
    column-gap: 16px;
}

#cancel-add {
    background-color: rgb(194, 47, 47);
}

#cancel-add:hover {
    background-color: rgb(131, 33, 33);
}