/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*RESET END*/

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: rgb(70, 69, 69);
}

header {
    text-align: center;
    background-color: rgb(187, 179, 179);
    padding: 1.5em 0;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#score-board {
    text-align: center;
    margin-bottom: 2em;
}

#score-board h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0;
}

.board {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.score {
    font-weight: bold;
}

.score p:first-child {
    margin: 1em 0;

}

.score p {
    font-size: 1.2em;
}

.board .divider {
    width: 2px;
    height: 200px;
    background-color: grey;
}

.option {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
}

.opt-item {
    padding: 0.2em;
    font-size: 4em;
    background-color: purple;
    border-radius: 10%;
    color: white;
    border: 0;
}

.opt-item:hover {
    background-color: #c00fc0;
    transform: scale(1.1);
    cursor: pointer;
}

.opt-item:active {
    transform: scale(1);
}

.round-board {
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.5em;
}

#winner {
    font-weight: bold;
    font-size: 1.5em;
}
